.ACTIVE{
    background-color: white;
}
.INACTIVE{
    background-color: rgb(128, 128, 128);
}
.PENDING{
    background-color: rgb(179, 54, 54);
    color: white;
}
.bus-container{
    width: 300px!important;
    border: 2px solid gray;
    padding: 10px;
}
.seat{
    /* width: 30px;
    height: 30px; */
    border-radius: 2px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

}
.selected-seat{
    background-color: green;
    color: white;
}