@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: .3s ease;
}

:root{
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow:  0 2px 8px 2px rgba(178, 178, 178, 0.189);
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 672px!important;
  object-fit: cover;
}
a{
  text-decoration: none;
}

li{
  list-style: none;
}

.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

.btn{
  padding: .4rem 1.5rem;
  background: var(--PrimaryColor)!important;
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
}

.btn a{
  color: var(--whiteColor)!important;
  font-weight: 500;
}

.btn:hover{
  background: var(--HoverColor)!important;
}

.btn:hover a{
  color: var(--whiteColor)!important;
}

.secIntro{
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;

}
.secIntro .secTitle{
  color: var(--blackColor)!important;
  line-height: 1.5rem;
  padding-bottom: .5rem;
}

.secIntro p{
  font-size: 13px;
  color: var(--textColor);
  font-weight: 500;
}


img, video{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%;
}


::selection{
  background: var(--PrimaryColor)!important;
  color: var(--whiteColor);
}

::-webkit-scrollbar{
  width: 10px;
  background: var(--greyBg)!important;
}
::-webkit-scrollbar-thumb{
  background: var(--PrimaryColor)!important;
  border-radius: 10px;
}

@media screen and (min-width: 556px) {

  .mainContent, .singlePost{
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (min-width: 884px) {
  .mainContent{
    grid-template-columns: repeat(3,1fr);
  }
}


@media screen and (min-width: 1024px) {
  .container{
    width: 75% !important;
    margin: auto !important;
  }

  .section{
    padding: 5rem 0 3rem;
  }

  .secIntro{
    margin: 0 auto 3rem;

  }

  .secIntro .secTitle{
    line-height: 2rem;
    padding-bottom: 1rem;
    font-size: 2.2rem;
  }

  .secIntro p{
    font-size: 15px;

  }


}

@media screen and (min-width: 2560px){
  body{
    zoom: 1.7;
  }
}
/*loader*/
.loader {
  width: 50px;
  height: 165px;
  position: relative;
}
.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50% , 0);
  width: 16px;
  height: 16px;
  background: #FF3D00;
  border-radius: 50%;
  animation: bounce 2s linear infinite;
}
.loader::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 48px;
  width: 48px;
  background: #fff;
  border-radius: 4px;
  animation: rotate 2s linear infinite;
}

@keyframes bounce {
  0% , 50% , 100%{
    transform: translate(-50%, 0px);
    height: 20px;
  }
  20% {
    transform: translate(-25%, 85px);
    height: 28px;
  }
  25% {
    transform: translate(-25%, 110px);
    height: 12px;
  }
  70% {
    transform: translate(-75%, 85px);
    height: 28px;
  }
  75% {
    transform: translate(-75%, 108px);
    height: 12px;
  }
}
@keyframes rotate {
  0% , 50% , 100%{ transform: rotate(0deg)}
  25% { transform: rotate(90deg)}
  75%{ transform: rotate(-90deg)}
}
